<%= form_with(model: comment, id: 'comment' ) do |form| %>
  <% if flash[:comment_errors] %>
    <div style="color: red" data-test-validation-errors-comment="true">
      <h2><%= pluralize(flash[:comment_errors].count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% flash[:comment_errors].each do |error| %>
          <% field = error.first %>
          <% errors = error.last %>
          <li data-error-<%= field %>="true"><%= "#{field.capitalize} #{errors.first}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Comment', style: "display: block" %>
    <%= form.text_field :text %>
    <%= form.hidden_field :project_id, value: @project.id %>
  </div>

  <div>
    <%= form.submit id: 'submit_comment'  %>
  </div>
<% end %>
