<%= form_with(model: project, id: 'project' ) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red" data-test-validation-errors="true">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li data-error-<%= error.attribute %>="true"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.collection_select :status_id, Status.all, :id, :title %>
  </div>

  <div>
    <%= form.submit id: 'submit_project'  %>
  </div>
<% end %>
